.btn-primary {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.btn-success {
    -fx-background-color: #1abc9c;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.btn-info {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.btn-danger {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.header-primary {
    -fx-background-color: #2c3e50;
    -fx-pref-height: 55;
}

.header-text-primary {
    -fx-text-fill: #ecf0f1;
    -fx-font-family: Montserrat Regular;
    -fx-font-size: 20px;
}